.adm-swipe-action {
  margin-bottom: 10px;
}

.memo-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.6em 1em;
  border-radius: 10px;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 10px 15px -3px rgba(239, 237, 237, 0.658);

  h3,
  .content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .time {
    color: gray;
    font-size: 12px;
  }
}
